# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @aptos-labs/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/libra2-move` directory and its subdirectories:`aptos-gas`, `libra2-vm`, `framework` and `framework/libra2-stdlib/sources/cryptography`.
/libra2-move/libra2-aggregator/ @georgemitenkov @gelash @zekun000
/libra2-move/aptos-gas/ @vgao1996
/libra2-move/libra2-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/libra2-move/libra2-vm/src/keyless_validation.rs @alinush @heliuchuan
/libra2-move/libra2-vm-types/ @georgemitenkov @gelash @vgao1996
/libra2-move/framework/ @davidiw @movekevin @wrwg
/libra2-move/framework/libra2-framework/sources/account.move @alinush
/libra2-move/framework/libra2-framework/sources/jwks.move @zjma
/libra2-move/framework/libra2-framework/sources/keyless_account.move @alinush
/libra2-move/framework/libra2-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/libra2-move/framework/**/*.spec.move @junkil-park
/libra2-move/framework/libra2-stdlib/sources/hash.move @alinush

# Owner for libra2-token, cryptography natives, parallel-executor and vm-genesis.
/libra2-move/framework/libra2-token @areshand
/libra2-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/libra2-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/libra2-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/libra2-move/sharded_block-executor/ @sitalkedia
/libra2-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/libra2-move/vm-genesis/ @davidiw @movekevin

# Owner for aptos node (to prevent things from becoming out of hand :D)
/libra2-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/aptos` directory and all its subdirectories.
/crates/aptos @gregnazario @banool

# Owners for the `/crates/libra2-crypto*` directories.
/crates/libra2-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/libra2-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/libra2-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/libra2-faucet @banool @gregnazario
/crates/libra2-genesis @gregnazario

# Owners for the libra2-logger crate
/crates/libra2-logger @gregnazario @joshlind

/crates/aptos-open-api @banool @gregnazario

# Owners for the libra2-protos crate
/crates/libra2-protos @banool @bowenyang007 @jillxuu @larry-aptos @rtso  @aptos-labs/ecosystem-infra

/crates/libra2-rest-client @banool @gregnazario

# Owners for the `/libra2-rosetta` directory and related crates.
/crates/libra2-rosetta @gregnazario
/crates/libra2-rosetta-cli @gregnazario

# Owners for the libra2-speculative-state-helper crate
/crates/libra2-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/libra2-telemetry @ibalajiarun @geekflyer
/crates/libra2-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @aptos-labs/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @aptos-labs/prod-eng
/docker/builder/docker-bake-rust-all.hcl @aptos-labs/prod-eng @aptos-labs/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @aptos-labs/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @aptos-labs/prod-eng

# Owners for the `libra2-dkg` crate.
/crates/libra2-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
